files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_change_nginx_port.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # Get the port assigned by Elastic Beanstalk
      EB_PORT=$(cat /var/elasticbeanstalk/staging/nginx/conf.d/00_elastic_beanstalk_proxy.conf | grep -oP 'listen \K\d+')

      # Update NGINX configuration files with the correct port
      sed -i "s/proxy_pass http:\/\/127.0.0.1:4244;/proxy_pass http:\/\/127.0.0.1:${EB_PORT};/g" /etc/nginx/conf.d/websockets.conf
      sed -i "s/proxy_pass http:\/\/127.0.0.1:4244;/proxy_pass http:\/\/127.0.0.1:${EB_PORT};/g" /etc/nginx/conf.d/https-websockets.conf


